@font-face {
    font-family: 'Lobster';
    src: url('/src/assets/fonts/Lobster-Regular.ttf') format('ttf')
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lobster', sans-serif;
}

#content {
    flex: 1;
    overflow-y: auto;
}

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e2e8f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.header__headline {
    color: #ffa400;
    font-size: 3rem;
    font-weight: bold;
}

.tab-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.tab-menu__tab {
    font-weight: bold;
    color: #ffa400;
    cursor: pointer;
}

.tab-menu__tab--active {
    color: #555;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: url("/src/assets/img/pizza.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.hero-section__title {
    font-size: 3rem;
    font-weight: bold;
    color: #ffa400;
    text-transform: uppercase;
    text-align: center;
}

.hero-section__description {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff;
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(30rem,100%), 1fr));
    gap: 1.5rem;
    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 1rem;
}

.card__name {
    font-size: 1.5rem;
    font-weight: bold;
}

.card__content {
    font-size: 1rem;
    color: #555;
    text-align: center;
}

.card__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 0.25rem;
    transition: transform 0.3s ease-in-out;
}

.card__image:hover {
    transform: scale(1.05);
}

.card__price {
    font-size: 1.25rem;
    font-weight: bold;
    color: #e44d26;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0;
}
::-webkit-scrollbar-track {
    border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
    background: #edf2f5;
    border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
    background: #bfbfbf;
}

@media screen and (max-width: 640px) {
    .header {
        flex-direction: column;
        gap: 1rem;
        align-items: stretch;
        text-align: center;
    }

    .tab-menu {
        flex-direction: column;
        gap: 1rem;
    }

    .hero-section__title {
        font-size: 2rem;
    }

    .hero-section__description {
        font-size: 1rem;
    }
}