html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    flex: 1;
    overflow-y: auto;
}

header {
    background-color: #E4FCF9;
    border-bottom: 1px solid black;
}

nav {
    margin: 0 auto;
}

.tab-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
}

.tab-menu__tab {
    padding: 1rem;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 0.25rem;
    text-align: center;
    background-color: #ACE6F6;
}

.tab-menu__tab--active {
    background-color: #4B89AC;
}

footer {
    text-align: center;
    border: 1px solid black;
    padding: 1rem;
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(30rem,100%), 1fr));
    gap: 1.5rem;
    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 1rem;
}

.card__name {
    font-size: 1.5rem;
    font-weight: bold;
}

.card__content {
    font-size: 1rem;
    color: #555;
    text-align: center;
}

.card__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 0.25rem;
    transition: transform 0.3s ease-in-out;
}

.card__image:hover {
    transform: scale(1.05);
}

.card__price {
    font-size: 1.25rem;
    font-weight: bold;
    color: #e44d26;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0;
}
::-webkit-scrollbar-track {
    border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
    background: #edf2f5;
    border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
    background: #bfbfbf;
}