html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    flex: 1;
    overflow-y: auto;
}

header {
    background-color: #E4FCF9;
    border-bottom: 1px solid black;
}

nav {
    margin: 0 auto;
}

.tab-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
}

.tab-menu__tab {
    padding: 1rem;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 0.25rem;
    text-align: center;
    background-color: #ACE6F6;
}

.tab-menu__tab--active {
    background-color: #4B89AC;
}

footer {
    text-align: center;
    border: 1px solid black;
    padding: 1rem;
}